@charset "utf-8";
@import './fonts.css';
@import './variables.css';

/* 기본 스타일 */


body {
    background-color: var(--fmgmt-sys-color-grey400);
    margin: 0;
    padding: 0;
}

#wrap{overflow:hidden;}

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top:0;
}



footer{
    margin: 0 auto;
    height: 50px;
    text-align:center;
}

/*********************************************************************************************/


/* 미디어 쿼리를 사용한 반응형 스타일 */

/* 스마트폰 및 태블릿 화면 크기에 대응하는 스타일 */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

/* 작은 화면(모바일)에 대응하는 스타일 */
@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
}

